<%- layout('layouts/main.ejs') %>

<nav class="navbar">
    <div class="logo">
        <img src="/assets/SVG/homeVector.svg" alt="Logo Mesa" class="imgNavbar">
        <p>HR | DataBase</p>
    </div>
    <ul class="ulNavbar">
        <li><a href="/home/"> <img src="/assets/SVG/igloo-solid.svg" alt="Home" class="homeLogo"> </a></li>
        <li><a href="/users/logout"> <img src="/assets/SVG/power-off-solid.svg" alt="Logout" class="logoutLogo"> </a>
        </li>
    </ul>
</nav>

<section class="formAndImgEmployee" id="formAndImgEmployee">
    <h1 class="titleEmployee">Claims</h1>
    <div class="back"><a href="/users/profile"><img src="/assets/SVG/caret-left-solid.svg" alt="back arrow"> Volver</a></div>

    <div class="containerClaim">
        <div class="searchAndAddClaim">
            <div class="addClaim">
                <a href="/claims/add">
                    <img src="/assets/SVG/user-plus-solid.svg" alt="Agregar Escuela">
                    <p>Agregar Reclamo</p>
                </a> 
            </div>

            <div class="searchClaim">
                <input type="text" name="employee" id="employee">
                <select name="busquedas" id="busquedas">
                    <option value="error">Elija una opción</option>
                    <option value="error">-------</option>
                    <option value="all">Mostrar todos</option>
                    <option value="state">Por Estado</option>
                    <option value="type">Tipos de Reclamo</option>
                    <option value="between">Reclamos entre fechas</option>
                </select>
                <div id="datesStartEnd" class="datesStartEnd">
                    <div class="start">
                        <label for="start">Fecha de Inicio: </label>
                        <input type="date" name="start" id="start">

                    </div>

                    <div class="end">
                        <label for="end">Fecha de Fin: </label>
                        <input type="date" name="end" id="end">
                    </div>

                    <div class="searchEmployee" id="searchEmployee">
                        <h4>Buscá el dni del empleado</h4>
                        <div class="toFind">
                            <input type="text" name="lastname" id="lastnameEmployee" placeholder="ingrese apellido" class="inputEmployee">
                            <button type="submit" id="searchDNIEmployee" class="searchDNIEmployee">Buscar!</button>
                        </div>
                    </div>
                </div>

                <select name="statusOfClaims" id="statusOfClaims" class="statusOfClaims">
                    <option value="error">Elija un Estado</option>
                    <option value="error">-------</option>
                    <option value="nuevo" >Nuevo</option>
                    <option value="leido">Leido</option>
                    <option value="constestado">Constestado</option>
                    <option value="resuelto">Resuelto</option>
                </select>

                <select name="typeOfClaims" id="typeOfClaims" class="statusOfClaims">
                </select>
                <button type="submit" id="btnSearch">Buscar</button>
            </div>

            <h3 id="textResult" class="textResult"></h3>
        </div>

    </div>
    <div class="schoolsResultsContainer" id="schoolsResultsContainer"></div>

    <div class="showResultsEmployees" id="showResultsEmployees">
        
        <div class="header">Nombre</div>
        <div class="header">Apellido</div>
        <div class="header">Dni</div>
        <div class="header">Copiar ;) </div>

    </div>
</section>



<script>
    const option = document.getElementById('busquedas');
    
    const input = document.getElementById('employee');
    const search = document.getElementById('btnSearch');
    const formAndImgEmployee = document.getElementById('formAndImgEmployee');
    const schoolsResultsContainer = document.getElementById('schoolsResultsContainer');
    const textResult = document.getElementById('textResult');
    const statusOfClaims = document.getElementById('statusOfClaims');
    const datesStartEnd = document.getElementById('datesStartEnd');
    const searchDNIEmployee = document.getElementById('searchDNIEmployee');
    const showResultsEmployees = document.getElementById('showResultsEmployees');
    const typeOfClaims = document.getElementById('typeOfClaims')

    let statusOption = null
    let startDate = null
    let endDate = null
    let typeClaimSelected = null

    option.addEventListener('change', changeOption = async (e) => {

        if(e.target.value == 'all') {
            datesStartEnd.style.display = 'none'
            statusOfClaims.style.display = 'none'
            showResultsEmployees.style.display = 'none'
            typeOfClaims.style.display = 'none'
            textResult.innerText = ''
            input.disabled = true
            input.placeholder = 'Deshabilitado'
        }

        if(e.target.value == 'state') {
            statusOfClaims.style.display = 'block'
            datesStartEnd.style.display = 'none'
            showResultsEmployees.style.display = 'none'
            typeOfClaims.style.display = 'none'
            input.placeholder = 'Opcional: Ingrese DNI de la persona a buscar'
            input.disabled = false
            textResult.innerText = ''

            while (schoolsResultsContainer.hasChildNodes()) {
                schoolsResultsContainer.lastChild.remove();
            }

            statusOfClaims.addEventListener('change', statusOption = (e) => {
                if(e.target.value == 'error'){
                    textResult.innerText = 'Estado no válido';
                    while (schoolsResultsContainer.hasChildNodes()) {
                        schoolsResultsContainer.lastChild.remove();
                    }
                } else {
                    textResult.innerText = '';
                    statusOption = e.target.value
                }
            })
        }

        if(e.target.value == 'between'){
            datesStartEnd.style.display = 'grid'
            statusOfClaims.style.display = 'none'
            showResultsEmployees.style.display = 'none'
            typeOfClaims.style.display = 'none'
            textResult.innerText = ''
            input.disabled = false
            input.placeholder = 'Ingrese DNI de la persona a buscar'
            
            while (schoolsResultsContainer.hasChildNodes()) {
                schoolsResultsContainer.lastChild.remove();
            }

            datesStartEnd.addEventListener('change', startEndDate = (e) => {
                const start = document.getElementById('start');
                const end = document.getElementById('end');
                startDate = start.value
                endDate = end.value

            })

            const lastnameEmployee = document.getElementById('lastnameEmployee');
            const searchDNIEmployee = document.getElementById('searchDNIEmployee');
            
            searchDNIEmployee.addEventListener('click', initFetchDni = async (e) => {
                showResultsEmployees.style.display = 'grid'
                e.preventDefault()
                const foundEmployee = await toFetchWithOneParam('/employees/search', 'lastname', lastnameEmployee.value);

                for(let i = 0; i < foundEmployee.Empleados.length; i++) {
                    const employee = foundEmployee.Empleados[i];

                    const name = document.createElement('div');
                    const lastname = document.createElement('div');
                    const dni = document.createElement('div');
                    const copy = document.createElement('div');
                    const imgCopy = document.createElement('img')

                    copy.classList.add('copy')

                    name.innerText = employee.name
                    lastname.innerText = employee.lastname
                    dni.innerText = employee.dni
                    imgCopy.src = '/assets/SVG/copy-regular.svg'
                    

                    copy.appendChild(imgCopy)
                    showResultsEmployees.appendChild(name)
                    showResultsEmployees.appendChild(lastname)
                    showResultsEmployees.appendChild(dni)
                    showResultsEmployees.appendChild(copy)

                    imgCopy.addEventListener('click', copyDni = (e) => {
                        e.preventDefault()

                        const preExistsuccessCopy = document.querySelector('.successCopy')

                        if(preExistsuccessCopy) {
                            showResultsEmployees.removeChild(preExistsuccessCopy)
                        }
                        
                        const successCopy = document.createElement('div')
                        successCopy.classList.add('successCopy')
                        successCopy.innerText = 'Copiado con éxito!';
                        showResultsEmployees.appendChild(successCopy)

                        setTimeout(()=> {
                            showResultsEmployees.removeChild(successCopy)
                        }, 1500)
                        input.value = employee.dni
                    })

                }
            })
        }

        if(e.target.value == 'type'){
            datesStartEnd.style.display = 'none'
            statusOfClaims.style.display = 'none'
            showResultsEmployees.style.display = 'none'
            typeOfClaims.style.display = 'block'
            textResult.innerText = ''
            input.placeholder = 'Deshabilitado'
            input.disabled = true

            const allTypes = await toFetchAll('/claims/search/typesclaim')

            while (typeOfClaims.hasChildNodes()) {
                typeOfClaims.lastChild.remove();
            }


            const chooseOption = document.createElement('option');
            chooseOption.innerText = 'Elija un Tipo';
            chooseOption.value = 'error'

            const chooseLinesOption = document.createElement('option');
            chooseLinesOption.innerText = '--------';
            chooseLinesOption.value = 'error'

            typeOfClaims.appendChild(chooseOption)
            typeOfClaims.appendChild(chooseLinesOption)

            for (let i = 0; i < allTypes.Types.length; i++) {
                const typeClaim = allTypes.Types[i];
                const optionClaim = document.createElement('option');

                optionClaim.innerText = typeClaim.typeClaim;
                optionClaim.value = typeClaim.typeClaim;
                typeOfClaims.appendChild(optionClaim);
                
            }

            typeOfClaims.addEventListener('change', changeType = (e) => {
                const typeSelected = e.target.value
                typeClaimSelected = typeSelected
            })
        }

    })


    const toFetch = async (URL, toFind) => {                       
        const info = await fetch(`${URL}/${toFind}`);
        const response = await info.json();
        return response;
    }

    const toFetchAll = async (URL) => {                       
        const info = await fetch(`${URL}`);
        const response = await info.json();
        return response;
    }

    const toFetchWithTwoParams = async (URL, endpoint, paramOne, paramTwo) => {                 
        const info = await fetch(`${URL}/${endpoint}/${paramOne}/${paramTwo}`);
        if(info.status == 404) {
            return console.log('Not Found')
        } 
        const response = await info.json();
        return response;
    }

    const toFetchWithOneParam = async (URL, endpoint, param) => {                 
        const info = await fetch(`${URL}/${endpoint}/${param}`);
        if(info.status == 404) {
            return console.log('Not Found')
        } 
        const response = await info.json();
        return response;
    }

    const toFetchWithThreeParams= async (URL, endpoint, paramOne, paramTwo, paramThree) => {                 
        const info = await fetch(`${URL}/${endpoint}/${paramOne}/${paramTwo}/${paramThree}`);
        if(info.status == 404) {
            return console.log('Not Found')
        } 
        const response = await info.json();
        return response;
    }

    const regExpToCheckNumbers = (dni) => {
        const reg = new RegExp('^[0-9]*$')
        const dniNumber = parseInt(dni)

        if(reg.test(dniNumber) == false){
            console.log({Invalid_type_Input: dniNumber});
            return false
        } else {
            return true
        }

        
    }

    const createHeader = () => {

        const showResultsSchools = document.createElement('div');
        const schoolResult = document.createElement('div');
        const dayOfClaim = document.createElement('div');
        const attend = document.createElement('div');
        const content = document.createElement('div');
        const tracing = document.createElement('div');
        const status = document.createElement('div');
        const linkemail = document.createElement('div');
        const employeeData = document.createElement('div');
        
        showResultsSchools.classList.add('showResultsClaims');
        schoolResult.classList.add('claimResult');
        schoolResult.classList.add('backHeader')
        dayOfClaim.classList.add('claimData');
        attend.classList.add('claimData');
        content.classList.add('claimData');
        tracing.classList.add('claimData');
        status.classList.add('claimData');
        linkemail.classList.add('claimData');
        employeeData.classList.add('claimData');

        dayOfClaim.innerText = 'Inicio del reclamo'
        attend.innerText = 'Atención'
        content.innerText = 'Contenido'
        status.innerText = 'Estado'
        linkemail.innerText = 'Link'
        tracing.innerText = 'Respuesta'
        employeeData.innerText = 'Empleado'

        schoolResult.appendChild(dayOfClaim)
        schoolResult.appendChild(attend)
        schoolResult.appendChild(content)
        schoolResult.appendChild(tracing)
        schoolResult.appendChild(status)
        schoolResult.appendChild(linkemail)
        schoolResult.appendChild(employeeData)
        showResultsSchools.appendChild(schoolResult)
        schoolsResultsContainer.appendChild(showResultsSchools)
        
    }

    const notFoundResults = (fetched) => {

        if(fetched.Message) {
                textResult.style.color = '#dc143c'
                while (schoolsResultsContainer.hasChildNodes()) {
                        schoolsResultsContainer.lastChild.remove();
                }
                return textResult.innerText = fetched.Message
        } else {
            textResult.innerText = '';
            
        }

        //return textResult.innerText = 'Hubo un error'
    }

    const showResultsOnClick = async () => {
        if(option.value === 'error') {
            input.value = 'La opción a buscar debe ser válida'
            input.style.background = '#6BFF6B'
            textResult.innerText = 'Opción no válida :/'

            input.addEventListener('click', inputFun = (e) => {
                e.preventDefault()
                input.value = ''
                input.style.background = '#fff'

                input.removeEventListener('click', inputFun)
            })
        }

        if((input.value == '' && option.value == 'between')) {
            textResult.style.color = '#dc143c'
                while (schoolsResultsContainer.hasChildNodes()) {
                        schoolsResultsContainer.lastChild.remove();
                }
                return textResult.innerText = 'El campo de búsqueda está vacío'
        }

        while (schoolsResultsContainer.hasChildNodes()) {
            schoolsResultsContainer.lastChild.remove();
        }

        let findAllResultOfFetch = null

        if(option.value === 'all') {
            const allClaims = await toFetchAll('/claims/all')
            findAllResultOfFetch = allClaims
        }

        if(option.value === 'state') {
            if(input.value){
                if(regExpToCheckNumbers(input.value)) {
                    const claimsDniAndStatus = await toFetchWithTwoParams('/claims/search', 'state', input.value, statusOption)
                    const checkFetch = notFoundResults(claimsDniAndStatus)
                    
                    if(checkFetch){
                        return
                    } else {
                        findAllResultOfFetch = claimsDniAndStatus
                    }
                    
                }
            } else {
                const claimsStatus = await toFetchWithOneParam('/claims/search', 'status', statusOption);
                const checkFetch = notFoundResults(claimsStatus)

                    if(checkFetch){
                        return
                    } else {
                        findAllResultOfFetch = claimsStatus
                    }
            }
            
        }

        if(option.value === 'between') {
            showResultsEmployees.style.display = 'none'

            if(!startDate || !endDate || (!startDate && !endDate)){
                textResult.style.color = '#dc143c'
                return textResult.innerText = 'Falta ingresar fechas'
            }

            const foundClaimsWithDates = await toFetchWithThreeParams('/claims/search', 'between', `dni/${input.value}`, `start/${startDate}`, `end/${endDate}`)

            const checkFetch = notFoundResults(foundClaimsWithDates)

            if(checkFetch){
                return
            } else {

                findAllResultOfFetch = foundClaimsWithDates
            }

        }

        if(option.value === 'type') {
            input.disabled = 'true'
            const allClaimsForType = await toFetchWithOneParam('/claims/search', 'typeclaim', `${typeClaimSelected}`)
            const checkFetch = notFoundResults(allClaimsForType)

            if(checkFetch){
                return
            } else {
                findAllResultOfFetch = allClaimsForType
            }

        }

        

        if(findAllResultOfFetch !== null) {

            createHeader();

            for (let i = 0; i < findAllResultOfFetch.Claims.length; i++) {
                const claim = findAllResultOfFetch.Claims[i];

                const showResultsSchools = document.createElement('div');
                const schoolResult = document.createElement('div');
                const dayOfClaim = document.createElement('div');
                const attend = document.createElement('div');
                const content = document.createElement('div');
                const tracing = document.createElement('div');
                const status = document.createElement('div');
                const linkemail = document.createElement('a');
                const employeeData = document.createElement('div');

                showResultsSchools.classList.add('showResultsClaims');
                schoolResult.classList.add('claimResult');
                dayOfClaim.classList.add('claimData');
                attend.classList.add('claimData');
                content.classList.add('claimData');
                tracing.classList.add('claimData');
                status.classList.add('claimData');
                linkemail.classList.add('claimData');
                employeeData.classList.add('claimData');

                dayOfClaim.innerText = claim.dayofclaim;
                
                content.innerText = claim.content;
                status.innerText = claim.status.toUpperCase();
                linkemail.href = claim.linkemail;
                linkemail.innerText = 'Click para ir al mail';
                tracing.innerText = claim.tracing;

                if(claim.attend.toLowerCase() == 'urgente') {
                    attend.innerText = claim.attend.toUpperCase();
                    attend.style.color = 'red'
                    attend.style.fontWeight = 'bold'
                    attend.style.fontSize = '1.2rem'
                } else {
                    attend.innerText = claim.attend;
                }

                if(claim.Employee !== null) {
                    employeeData.innerText = `${claim.Employee.lastname}, ${claim.Employee.name}`
                }

                schoolResult.appendChild(dayOfClaim);
                schoolResult.appendChild(attend);
                schoolResult.appendChild(content);
                schoolResult.appendChild(tracing);
                schoolResult.appendChild(status);
                schoolResult.appendChild(linkemail);
                schoolResult.appendChild(employeeData);
                showResultsSchools.appendChild(schoolResult);
                schoolsResultsContainer.appendChild(showResultsSchools);
                
            }
        } 
    }

    search.addEventListener('click', searchBtn = async (e)=> {
        e.preventDefault();
        showResultsOnClick();
    })

    input.addEventListener('keyup', searchEnter = async (e) => {
        if(e.keyCode == 13) {
            e.preventDefault()
            showResultsOnClick();
        }
    })



</script>