<%- layout('layouts/main.ejs') %>

<nav class="navbar">
    <div class="logo">
        <img src="/assets/SVG/homeVector.svg" alt="Logo Mesa" class="imgNavbar">
        <p>HR | DataBase</p>
    </div>
    <ul class="ulNavbar">
        <li><a href="/home/"> <img src="/assets/SVG/igloo-solid.svg" alt="Home" class="homeLogo"> </a></li>
        <li><a href="/users/logout"> <img src="/assets/SVG/power-off-solid.svg" alt="Logout" class="logoutLogo"> </a>
        </li>
    </ul>
</nav>

<h1 class="titleEmployee">Employees</h1>

<div class="containerEmployee">

    <div class="searchAndAddEmployee">
        <div class="addEmployee">
            <a href="/employees/add"><img src="/assets/SVG/user-plus-solid.svg" alt="Agregar Talento"></a> 
            <p>Agregar Colaborador</p>
        </div>
        <div class="searchEmployee">
            <input type="text" name="employee" id="employee">
            <select name="busquedas" id="busquedas">
                <option value="error">Elija una opción</option>
                <option value="error">-------</option>
                <option value="dni">DNI</option>
                <option value="lastname">Apellido</option>
                <option value="phone">Teléfono</option>
                <option value="email">Email</option>
            </select>
            <button type="submit" id="btnSearch">Buscar</button>
        </div>
        <h3 class="textResult" id="textResult">Acá se van a mostrar los resultados</h3>
        <% if(successEmployee.length > 0) {%> 
            <div class="successEmployee">
                <%= successEmployee %> 
            </div>
        <% } %>
    
        
        <div class="results" id="results">
            <div id="employeeResult"></div>
        </div>
    </div>

    <div class="employeesImg" id="employeesImg">
        <img src="/assets/SVG/PeoplePuzzle.svg" alt="People work together" id="peopleWordImg">

        <div class="createEmployeeFormDiv" id="createEmployeeFormDiv">
            <form action="" class="createEmployeeForm" id="createEmployeeForm">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" >
                <label for="lastname">Apellido</label>
                <input type="text" name="lastname" id="lastname" >
                <label for="dni">DNI</label>
                <input type="number" name="dni" id="dni" >
                <label for="cuil">CUIL</label>
                <input type="text" name="cuil" id="cuil" >
                <label for="address">Domicilio (Calle)</label>
                <input type="text" name="address" id="address" >
                <label for="streetnumber">altura</label>
                <input type="number" name="streetnumber" id="streetnumber" >
                <label for="postalcode">Código Postal</label>
                <input type="number" name="postalcode" id="postalcode" >
                <label for="phone">Teléfono</label>
                <input type="number" name="phone" id="phone" >
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" >

                <button type="submit" id="actualizar"> Actualizar </button>
            </form>
        </div>
    </div>

</div>

<script>
    const option = document.getElementById('busquedas');
    const input = document.getElementById('employee');
    const search = document.getElementById('btnSearch');
    


    search.addEventListener('click', (e) => {
        e.preventDefault()

        if(option.value === 'error') {
            input.value = 'La opción a buscar debe ser válida'
            input.style.background = '#6BFF6B'

            input.addEventListener('click', inputFun = (e) => {
                e.preventDefault()
                input.value = ''
                input.style.background = '#fff'

                input.removeEventListener('click', inputFun)
            })
        }

        

        fetch(`/employees/search/${option.value}/${input.value}`)
        .then( res => {
            return res.json()
        })
        .then( data => {
            const textResult = document.getElementById('textResult');
            const employeeResult = document.getElementById('employeeResult');
            const createEmployeeFormDiv = document.getElementById('createEmployeeFormDiv');
            const updateBtn = document.getElementById('actualizar')
            const createEmployeeForm = document.getElementById('createEmployeeForm');

            while (employeeResult.hasChildNodes()) {
                    employeeResult.lastChild.remove();
            }

            let arrayDataToIterate = []

            if( Array.isArray(data.Empleados) === false) {
                arrayDataToIterate.push(data.Empleados)
            } else if(Array.isArray(data.Empleados)) {
                
                data.Empleados.map( each => {
                    arrayDataToIterate.push(each)
                })

            }

            let editBtn = null
            let infoBtn = null

            if(data.Message) {
                textResult.style.color = '#dc143c'
                while (employeeResult.hasChildNodes()) {
                        employeeResult.lastChild.remove();
                    }
                return textResult.innerText = data.Message
            } else {
                textResult.innerText = 'Acá se van a mostrar los resultados'
                textResult.style.color = 'black'
            }


            for(let i = 0; i < arrayDataToIterate.length; i++) {
                const divContainer = document.createElement('div')
                let empl = arrayDataToIterate[i]

                divContainer.classList.add('employeeResult')

                let lastname = document.createElement('p');
                let name = document.createElement('p');
                let dni = document.createElement('p');
                let phone = document.createElement('p');
                let email = document.createElement('p');

                lastname.classList.add('employeeData');
                name.classList.add('employeeData');
                dni.classList.add('employeeData');
                phone.classList.add('employeeData');
                email.classList.add('employeeData');

                lastname.innerText = empl.lastname;
                name.innerText = empl.name;
                dni.innerText = empl.dni;
                phone.innerText = empl.phone;
                email.innerText = empl.email;

                const edit = document.createElement('img');
                const info = document.createElement('img');

                edit.classList.add('imgEmployee')
                info.classList.add('imgEmployee')

                edit.classList.add('editEmployee')
                info.classList.add('infoEmployee')


                edit.src = "/assets/SVG/user-edit-solid.svg";
                info.src = "/assets/SVG/info-circle-solid.svg";

                divContainer.appendChild(lastname)
                divContainer.appendChild(name)
                divContainer.appendChild(dni)
                divContainer.appendChild(phone)
                divContainer.appendChild(email)

                divContainer.appendChild(edit)
                divContainer.appendChild(info)

                employeeResult.appendChild(divContainer)

                edit.addEventListener('click', (e)=> {
                    e.preventDefault()
                    const peopleWordImg = document.getElementById('peopleWordImg');
                    
                    peopleWordImg.style.display = 'none';
                    createEmployeeFormDiv.style.display = 'block'

                    const name = document.getElementById('name')
                    const lastname = document.getElementById('lastname')
                    const dni = document.getElementById('dni')
                    const cuil = document.getElementById('cuil')
                    const address = document.getElementById('address')
                    const streetnumber = document.getElementById('streetnumber')
                    const postalcode = document.getElementById('postalcode')
                    const phone = document.getElementById('phone')
                    const email = document.getElementById('email')


                    // const name = createEmployeeForm.name.value
                    // const lastname = createEmployeeForm.lastname.value 
                    // const dni = createEmployeeForm.dni.value 
                    // const cuil = createEmployeeForm.cuil.value 
                    // const address = createEmployeeForm.address.value 
                    // const streetnumber = createEmployeeForm.streetnumber.value
                    // const postalcode = createEmployeeForm.postalcode.value 
                    // const phone = createEmployeeForm.phone.value 
                    // const email =  createEmployeeForm.email.value 

                    
                    const data = { 
                        name: name.value, lastname: lastname.value, dni: dni.value, cuil: cuil.value, 
                        address: address.value, streetnumber: streetnumber.value,
                        postalcode: postalcode.value, phone: phone.value, email: email.value,
                    }

                    

                    const options = {
                        body: JSON.stringify(data),
                        method: 'PUT',
                        headers: {
                            "Content-Type": "application/json",
                        },
                    }

                    updateBtn.addEventListener('click', (e) => {
                        e.preventDefault()

                        fetch(`/employees/update/${empl._id}`, options)
                        .then( res => {
                            console.log(res);
                            return res.json()
                        })
                        .then( data => {
                            console.log(data);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                    })

                    
                })
            }
            
        })
        .catch (err => {
            console.log(err);
        })
        
    })


</script>