<%- layout('layouts/main.ejs') %>




<div class="mainHome">
    <div class="homeVector">
        <img src="/assets/SVG/homeVector.svg" alt="Desktop">
    </div>
    <div class="rightSide">
        <h1>BASE DE DATOS HR</h1>
        <div class="parraf">
            <p class="parraf--1">
                Una base de datos creada con el fin de compartir la información de forma
                rápida, actualizada y veraz. El fin de este proyecto es netamente educativo, los
                datos que figuran aquí no son reales.
            </p>
            <p class="parraf--2">
                <span class="light"> El proyecto "HR | DataBase" nace de la necesidad de implementar todo lo aprendido en el
                curso de Desarrollo web en un entorno real con necesidades reales.
                El proyecto está en constante desarrollo, por eso las tecnologías, vistas y la lógica se irán
                actualizando conforme lo crea conveniente. Las principales tecnologías implementadas
                son: <span class="black">NodeJS y Express</span> para el servidor, <span class="black">Passport</span> para la autenticación, <span class="black">EJS y JavaScript</span>
                para las plantillas,<span class="black">SASS</span> para el estilado de las vistas, <span class="black"> Sequelize </span>como ORM para interactuar con Base de datos MySQL. </span>
            </p>
            <p class="parraf--3">
                <span class="black">El Proyecto está 100% implementado por <a href="https://github.com/MatataFerra" target="_blank"> Matata Ferra </a></span> 
            </p>
        </div>

        <div class="buttons">
            <div class="btnLogin">
                <a href="/users/login"> Login </a>
            </div>
            <div class="btnRegister">
                <a href="/users/singup"> Registro </a>
            </div>

            <% if(user) { %> 
            <div class="btnProfile">
                <a href="/users/profile"> Al menú principal </a>
            </div>
            <% } %> 
        </div>
        
    </div>
    
</div>



