<%- layout('layouts/main.ejs') %> 

<div class="imgLogin">
    <img src="/assets/SVG/welcome.svg" alt="">
</div>


<div class="form">

    <form method="POST" id="login" action="/users/login" class="formInside">
        <input type="email" name="email" value="" placeholder="Tu Email" class="inputText">
        <input type="password" name="password" value="" placeholder="Tu contraseña" class="inputText">
        <button type="submit">Login</button>
    
    </form>

</div>

<div class="newUser">
    <p>¿Usuario nuevo? <a href="/users/singup">Registro</a> </p>
    <p>Próximamente: 'Forgot Password'</p>
</div>


