<%- layout('layouts/main.ejs') %> 

<form method="POST" id="login" action="/users/login" >
    <input type="email" name="email" value="" placeholder="Tu Email" >
    <input type="password" name="password" value="" placeholder="Tu contraseña">
    <!-- <input type="submit" name="submit" value="Login"> -->
    <button type="submit">Login</button>

</form>