/*Normalizar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'profile';
@import 'backgrAnim';
@import 'formLogin';
@import 'employees';
@import 'home';
@import 'fonts';




body {

    font-family: $fontFamilyBold;

    background: linear-gradient(90deg, rgba(26,237,243,1) 0%, rgba(16,160,164,1) 100%);

    .singInMessage, 
    .singUpMessage, 
    .authMessage{
        margin-top: 0.5rem;
        text-align: center;
        font-family: $fontFamilyBold;
        font-weight: 600;
        color:crimson;
        animation: tilt 0.5s infinite forwards;
    }

    .logoutMessage {
        margin-top: 0.5rem;
        text-align: center;
        font-family: $fontFamilyBold;
        font-weight: 600;
        color:chartreuse;
        animation: tilt 0.5s infinite forwards;
    }
    
    
    
}

